*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_con{
    width: 60%;
    flex-direction: column;
    padding: 50px 0;
}
.drop1{
    width: 100%;
    /* min-height: 150px; */
    /* padding: 10px 0; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(122, 122, 122); */
    position: relative;
    /* background-color: red; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(122, 122, 122);
    padding: 0 0 10px 0;
}

.input_box_double{
    gap: 5px;
    flex-wrap: wrap;
    min-height: 70px;
    justify-content: flex-start;
}
.input{
    width: max-content;
    height: 30px;
    background: rgb(228, 228, 228);
    border-radius: 7px;
    padding: 0 5px;
}

.cancel-btn {
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.cancel-btn:hover {
    background-color: rgb(158, 0, 0);
    transition: .3s;
}

.drop-menu li{
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 5px;
}

.drop-menu li:hover {
    background-color: rgb(235, 235, 235);
}

.drop-menu{
    height: 0;
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
    left: 0;
    top: 50px;
    box-shadow: 0 3px 8px rgb(165, 165, 167);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 0 5px 5px;
}
.chev{
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    transition: background-color .3s;
}

.chev:hover {
    background-color: rgb(199, 199, 199);
    transition: .3s;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + .drop-menu{
    height: max-content;
    /* animation: slide .3s; */
}

.alert {
    margin: -10px 0;
    /* height: 15px; */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    color: white;
    position: absolute;
    bottom: 30px;
}

.alert-danger {
    background-color: rgb(204, 104, 104);
}

.alert-success {
    background-color: rgb(58, 211, 58);
}

.added {
    outline: 0px solid transparent;
}